
*{
	padding: 0;
	margin:0;
}
.box{
font-weight:bold;
font-size:16px;
font-family:Georgia;
}
.box1{
font-weight:bold;
font-size:40px;
font-family:sans-serif;
padding-top:35px;
color:#FFA500;
}
.box1 span{
font-size:30px;
color:white;
text-align: center;
}

.footer{
background-color:#FFA500;
font-size:17px;
padding:20px;
height:15%;
color:white;
font-weight:bold;
}
